body{
	background-color: #ccc;
	font-family: Garamond;
	margin: 0;
	padding: 0;
	background: url(../back_img.jpg) no-repeat center center fixed;
	background-size: cover;
}


#main_header{
	background-color: #fff;
	margin: 0;
	padding: 30px;
	position: relative;
}

#right_aside{
	width: 250px;
	background-color: #333;
	margin-top: 0;
}

.button{
	padding: 20px;
	background-color: teal;
	font-family: cursive;
	color: #fff;
	border-radius: 50px;
	width: 200px;
	height: 90px;
	margin: 15px;
	border: 2px solid #7db395;
}

.button p{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.button a{
	font-size: 20px;
	color: #333;
	text-decoration: none;
}

.button:hover, #active{
	background-color: #fff;
	color: teal;
}

form{
	position: absolute;
    top: 150px;
    bottom: 0;
    right: 0;
    left: 200px;
    height: 500px;
    width: 500px;  
	text-align: center;
	padding: 7px;    
    margin: auto;
	border: 4px #000;
	border-radius: 50px 50px 50px 50px;
	outline: 0;
	font-size: 16px;
	vertical-align: baseline;
	background: #555;
}

#display {
	margin-top: 30px;
	margin-bottom: 70px;
	width: 80%;
	height: 60px;
	text-align: right;
	font-size: 1.5rem;
	background-color: #fff;
	color: #333;
	font-family: cursive;
}

.digit {
	font-size: 2rem;
	font-family: cursive;
	background-color: #ccc;
	height: 55px;
	width: 20%;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
	margin-bottom: 20px;
	margin-right: 5px;
}

.oper {
	font-size: 2rem;
	font-family: cursive;
	background-color: #009999;
	height: 55px;
	width: 20%;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
}

#clearMem {
	background-color: crimson;
	font-family: cursive;
	margin-right: 5px;
}

#equal {
	background-color: orange;
	font-family: cursive;
	margin-right: 5px;
}